{% extends 'base.html' %}

{% block title %}Liste des itineraires{% endblock title%}

{%block content%}

<div class="container pt-5">
    <h1>Itineraires</h1>
</div>

<div class="row">
    {% if itineraires %}
        <table class="table table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Durée estimée</th>
                <th>Difficulté estimée</th>
            </tr>
            </thead>
            <tbody>
            {% for itineraire in itineraires %}
                <tr>
                    <td>{{ itineraire.title }}</td>
                    <td>{{ itineraire.duration }}h</td>
                    <td>{{ itineraire.difficulty }} / 5</td>
                    <td><a href="{% url 'itineraires:sorties' itineraire.id %}" class="btn btn-outline-primary">Détail</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="jumbotron"><i>Pas d'itineraires disponible</i></div>
    {% endif %}
    </div>
{%endblock content%}