{%extends 'base.html'%}
{% load bootstrap5 %}

{%block title%}Liste des sorties pour {{itineraire_detail.title}}{%endblock title%}

{%block back%}
<li class="text">
    <a class="nav-link mx-1" href="{%url 'itineraires:itineraire'%}">Itineraires</a>
</li>
{% endblock back%}

{%block content%}
<div class="container pt-5">
    <div class="row">

        <h1>{{itineraire_detail.title}}</h1>
        <div class="text mb-3"><b>{{itineraire_detail.description}}</b></div>
        <div class="col-sm-4">
        <table class="table">
                <tr>
                    <th>Altitude de départ</th>
                    <td>{{itineraire_detail.start_alt}} mètre{{ itineraire_detail.start_alt|pluralize }}</td>
                </tr>
                <tr>
                    <th>Altitude minimale</th>
                    <td>{{itineraire_detail.alt_min}} mètre{{ itineraire_detail.alt_min|pluralize }}</td>
                </tr>
                <tr>
                    <th>Altitude maximale</th>
                    <td>{{itineraire_detail.alt_max}} mètre{{ itineraire_detail.alt_max|pluralize }}</td>
                </tr>
                <tr>
                    <th>Dénivelé positif cumulé</th>
                    <td>{{itineraire_detail.deniv_pos_cumul}} mètre{{ itineraire_detail.deniv_pos_cumul|pluralize }}</td>
                </tr>
                <tr>
                    <th>Dénivelé négatif cumulé</th>
                    <td>{{itineraire_detail.deniv_neg_cumul}} mètre{{ itineraire_detail.deniv_neg_cumul|pluralize }}</td>
                </tr>
                <tr>
                    <th>Durée estimée</th>
                    <td>{{itineraire_detail.hour_as_min}}</td>
                </tr>
                <tr>
                    <th>Difficutlé estimée</th>
                    <td>{{itineraire_detail.difficulty}} / 5</td>
                </tr>
        </table>
    </div>
</div>
</div>

<hr>

{%if sorties%}

<h1>Sorties</h1>

<div class="row mb-5">
    <table class="table">
        <thead>
            <tr>
                <th>Par</th>
                <th>Date</th>
            </tr>
        </thead>
            <tbody>
            {%for sortie in sorties%}
                <tr>
                    <td>{{sortie.user}}</td>
                    <td>{{sortie.date_sortie}}</td>
                    <td><a href="{%url 'itineraires:sortie' sortie.id%}" class="btn btn-outline-primary">Consulter</a>
                        {%if user.id == sortie.user.id or user.is_superuser%}
                        <a href="{%url 'itineraires:modif_sortie' sortie.id%}" class="btn btn-outline-success">Modifier</a>
                        {%else%}
                        <a href="#" class="btn text-white disabled">Modifier</a>
                        {%endif%}
                    </td>
                </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
{%else%}
    <div class="container pt-5">
        <h1>Sorties</h1>
    </div>
    <div class="jumbotron"><i>Pas de sorties disponibles</i></div>
{%endif%}
{%if user.is_authenticated%}
    <a href="{%url 'itineraires:nouvelle_sortie'%}" class="btn mb-5 btn-outline-success">Nouvelle sortie</a>
{%endif%}
{%endblock content%}