{% extends 'base.html' %}

{% block title %}Détail de la sortie de {{sortie.user}} à {{sortie.itineraire.title}}{% endblock title%}

{%block back%}
<li class="text">
    <li class="navbar-item">
        <a class="nav-link mx-1" href="{%url 'itineraires:itineraire'%}">Itineraires</a>
    </li>
    <li class="navbar-item">
        <a class="nav-link mx-1" href="{%url 'itineraires:sorties' sortie.itineraire_id%}">Sortie à {{sortie.itineraire.title}}</a>
    </li>
</li>
{% endblock back%}

{%block content%}
    <div class='container pt-5'>
        <h1>{{sortie.itineraire.title}} - Sortie de {{sortie.user}}</h1>
        <p>Date de sortie : {{sortie.date_sortie}}</p>
        <p>Durée réelle : {{sortie.hour_as_min}}</p>
        <p>Nombre de participants : {{sortie.nb_people}}</p>
        <p>Type de randonneurs : {{sortie.exp_grp}}</p>
        <p>Météo : {{sortie.weather}}</p>
        <p>Difficulté ressentie : {{sortie.difficulty_felt}} / 5</p>
    </div>
{% endblock content%}