{% extends 'base.html' %}

{% block title %}Liste des itineraires{% endblock title%}

{%block back%}
<li class="text">
    <a class="nav-link" href="{%url 'itineraires:itineraire'%}">Itineraires</a>
</li>
{% endblock back%}

{%block content%}

<div class="row pb-3">
    <h1>Itineraires</h1>
</div>

<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Par</th>
                <th>Date</th>
            </tr>
        </thead>
            <tbody>
            {% for sortie in sorties %}
                <tr>
                    <td>{{ sortie.user }}</td>
                    <td>{{ sortie.date_sortie }}</td>
                    <td><button type="submit" class="btn btn-outline-primary">Consulter</button>
                        <button type="submit" class="btn btn-outline-secondary">Modifier</button>
                        <button type="submit" class="btn btn-outline-danger">Supprimer</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock content%}