{%load bootstrap5%}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>{%block title%}Topoguide{%endblock title%}</title>
</head>

<body>
    
    <nav class="navbar pb-2 navbar-expand-sm bg-light navbar-light fixed-top">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li>
                    <span class="navbar-text text-dark"><h2>TOPOGUIDE</h2></span>
                </li>
                {%block back%}{%endblock back%}
            </ul>
            <a class="btn btn-outline-success" href="http://127.0.0.1:8000/accounts/login/">Se connecter</a>
        </div>
    </nav>

    <div class="container mt-5">

        {% block content %}{% endblock %}

        <div class="p-2 bg-dark text-center text-white fixed-bottom">
            <em>&copy; ISAE-SUPAERO 2022</em>
        </div>

    </div>
</body>
</html>